@font-face {
    font-family: 'thegodfather-v2';
    src: url('../fonts/thegodfather-v2.ttf') format('truetype');
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(150deg, #151515 20%, #301B3F 80%);
}

.login-container {
    display: flex;
    width: 80%;
    height: 60%;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.left-section {
    flex: 3;
    background-image: url("https://cdn.britannica.com/55/188355-050-D5E49258/Salvatore-Corsitto-The-Godfather-Marlon-Brando-Francis.jpg");
    background-attachment: fixed;
    background-position:left center;
    background-size: 80%, cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.login-container .left-section .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, #151515 20%, #301B3F 80%);
    opacity: 0.6;
    z-index: 1;
}
h1 {
    font: 5vw 'thegodfather-v2', sans-serif;
    color: white;
    padding-left: 5%;
    padding-top: 1.5%;
    margin-bottom: 0;
}

h2 {
    font: 5vw 'thegodfather-v2', sans-serif;
    color: white;
    padding-left: 15.1%;
    margin-top: -0.5em;
}

.right-section {
    flex: 2;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    overflow: auto;
}


.form-group {
    margin-bottom: 15px;
    width: 100%;
    
}

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        overflow:hidden;
    }

        .form-group input[type="submit"] {
            background-color: #151515;
            color: white;
            cursor: pointer;
        }

        .sign {
        font-size: 4vw;
        inset: 3%;
        }
        
        .customLink{
            color: #151515;
            text-decoration: none;
            font-weight: bold;
        }



@media screen and (max-width: 768px) {
    h1 {
        font-size: 8vw;
        padding-left: 5%;
        padding-top: 1.5%;
        margin-bottom: 0;
    }

    h2 {
        font-size: 6vw;
        padding-left: 15.1%;
        margin-top: -0.5em;
    }
}
